<h4> This is the footer <h4>
<h5><%= link_to "Admin Signup", new_admin_registration_path %></h5>
<h5><%= link_to "Admin Signin", new_admin_session_path %></h5>
<h5><%= link_to "Editor Signup", new_editor_registration_path %></h5>
<h5><%= link_to "Editor Signin", new_editor_session_path %></h5>